* {
	margin: 0;
	padding: 0;
}

body {
	background: #4B4B61;
}

body, th, td, input, textarea {
	font-family: 'Lora', Georgia;
	font-size: 10pt;
	color: #4B4B61;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Mako', Georgia;
}

h1, h2, h3 {
	margin-top: 0.5em;
	color: #C11C51;
	font-weight: normal;
}

h1 a, h2 a, h3 a {
	color: #C11C51;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.1em;
}

p, ul, ol {
	margin-top: 1em;
	line-height: 1.2em;
	font-size: 1.1em;
}

ul ul {
	margin-top: 0.5em;
	font-size: 1em;
}

ul p {
	font-size: 1em;
}

ul, ol {
	margin-bottom: 0.5em;
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	text-decoration: none;
	color: #ff8827;
}

hr {
	display: none;
}

#page {
	width: 630px;
	margin: 0 auto;
	background: #FFFFFF;
	padding: 1em;
}

#header {
	padding-bottom: 2px;
	border-bottom: solid #4B4B61 1px;
}

#header h2 {
	float: right;
}

#header a {
	font-variant: small-caps;
}

.historylinks {
	text-align: center;
}

.historylinks.bottom {
	margin-top: 10px;
}

.footnotes {
	border-top: dashed #4B4B61 1px;
	font-size: 0.8em;
	margin-top: 2em;
}

.content {
	margin: 0;
	padding-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	min-height: 400px;
}

.content h1 {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 24pt;
}

.content .entry_footer {
	text-align: right;
}

.sidebar {
	float: left;
	width: 150px;
	padding-top: 30px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	text-align: left;

	border-left: solid #A5A5AF 1px;
	margin-left: -1px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.5em;
	color: #C11C51;
}

.sidebar li {
	padding-bottom: 0.5em;
}

.sidebar li ul {
	padding-top: 0.5em;
	padding-left: 10px;
	font-size: 0.7em;
}

.sidebar li li {
}

.sidebar li a { color: #FF8827; }
.sidebar li li a { color: #C11C51; }

.sidebar a:hover {
}

.clear {
	clear: both;
}

#footer {
	background: #FFFFFF;
	padding-top: 0.5em;
	margin-bottom: 1em;
	border-top: solid #4B4B61 1px;
}

#footer p {
	text-align: center;
	font-size: 8pt;
	color: #dd2865;
}

div.sitemap_subcategory {
	margin-left: 2em;
}

.sitemap_categorylink {
	font-size: 1.1em;
}

.center {
	text-align: center;
}

.pinkborder {
	border: solid #C11C51 1px;
	padding: 8px;
}

.rightfloat, .leftfloat {
	margin: 0.3em;
}

a img {
	border: 0;
}

.imagecenter {
	text-align: center;
	margin: 0.3em;
}

.leftfloat {
	float: left;
	margin-left: 0px;
	margin-right: 1em;
}
.rightfloat {
	float: right;
	margin-left: 1em;
	margin-right: 0px;
}

.topspace {
	margin-top: 2em;
}

table {
	margin-top: 1em;
	margin-bottom: 1em;
}

th, td {
	padding: 0.5em;
	font-size: 0.88em;
}

th {
	font-weight: normal;
	color: #C11C51;
	text-align: right;
	vertical-align: top;
}

td {
	text-align: left;
	vertical-align: top;
}

.mainmenu ul {
    margin-top: 0;
}

.mainmenu ul li {
	display: inline;
	float: right;
	text-align: center;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

pre {
	padding: 0.5em;
	margin-top: 0.5em;
	background-color: #eeeeee;
	color: black;
	overflow: auto;
}

sup {
	line-height: 0;
}

/*---------------------------------------------------------------------------*/

.lshift_archive_dateline {
    font-style: italic;
}

.lshift_archive_explanation {
    text-align: center;
    padding-bottom: 1em;
    margin-bottom: 1em;
    font-size: 0.9em;
}

.lshift_archive .right {
    float: right;
}

.lshift_archive blockquote {
    margin-top: 0.5em;
}

.lshift_archive table {
    margin-left: auto;
    margin-right: auto;
    border-top: solid #C11C51 2px;
    border-bottom: solid #C11C51 2px;
}

.lshift_archive td, .lshift_archive th {
    font-size: 100%;
    padding: 0.1em 0.2em;
}

.lshift_archive th {
    text-align: center;
    border-bottom: solid #C11C51 1px;
}

.lshift_archive .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lshift_archive hr {
    display: block;
    border: none;
    border-top: dashed #4B4B61 1px;
    margin-top: 2em;
}

.lshift_archive_comment_heading {
    padding-top: 1em;
    margin-top: 1em;
}

.lshift_archive .blog_comment_header {
    color: #C11C51;
    font-family: 'Lora', Georgia;
    font-style: italic;
    font-size: 10pt;
    margin-top: 1em;
}

.lshift_archive .blog_comment {
    margin-left: 2em;
    border-left: solid #ff8827 1px;
    padding-left: 1em;
}